In [2]:
import pandas as pd

In [5]:
import os

os.listdir(r"C:\Users\sudha\Downloads")

['11zon_compressed-PDF.zip',
 '1703569392736.jpg',
 '1703569392742.jpg',
 '1703569392746.jpg',
 '1703569392756 (1).jpg',
 '1703569392756.jpg',
 '1703569392756.pdf',
 '1703569392765 (1).jpg',
 '1703569392765.jpg',
 '1703569392774.jpg',
 '1703569392783 (1).jpg',
 '1703569392783.jpg',
 '1st&2nd sem.pdf',
 '1st&2nd sem_11zon.pdf',
 '22-12-25, 1002 Microsoft Lens.pdf',
 '22-12-25, 1004 Microsoft Lens.pdf',
 '3rd &4th Sem.pdf',
 '3rd &4th Sem_11zon.pdf',
 '3rd&4th sem.pdf',
 '3rd&4th sem_11zon.pdf',
 'A332 ..pdf',
 'A332....pdf',
 'A332.pdf',
 'anuj.mp4',
 'archive (1).zip',
 'archive (2).zip',
 'archive.zip',
 'Astra (25).pdf',
 'B330 (1).pdf',
 'B330 (2).pdf',
 'B330...pdf',
 'B330.pdf',
 'beneficiary (1).pdf',
 'beneficiary.pdf',
 'calm-waters-reflect-sunlight-near-a-secluded-island-at-dusk-showcasing-serenity-and-natural-beauty-photo.jpeg',
 'ChatGPT Image Dec 17, 2025, 11_55_29 AM.png',
 'ChatGPT Image Dec 27, 2025, 09_01_17 PM.png',
 'ChatGPT Image Dec 27, 2025, 09_02_25 PM.png',
 'Desktop',
 'desktop.ini',
 'divyanshi_resume_1.pdf',
 'divyanshi_try_resume (1).pdf',
 'divyanshi_try_resume.pdf',
 'Doc1[2] (1).docx',
 'Domicile.pdf',
 'fees 25-26.pdf',
 'fees 25-26_11zon.pdf',
 'final',
 'final (2).zip',
 'final.zip',
 'hello',
 'hello.zip',
 'IISF',
 'IISF (1).zip',
 'IISF 2025  Consent Letter Destiny Coders .pdf',
 'iisf(22)',
 'iisf(22).zip',
 'iisf(3)',
 'iisf(3).zip',
 'iisf(9)',
 'iisf(9) (1)',
 'iisf(9) (1).zip',
 'iisf(9) (2).zip',
 'iisf(9) (3)',
 'iisf(9) (3).zip',
 'iisf(9).zip',
 'IISF.zip',
 'IISFff (2)',
 'IISFff (2).zip',
 'Income 24-45.pdf',
 'Income 24-45_11zon.pdf',
 'Jal Astra PS2.pdf',
 'machine_learning.pdf',
 'MERIT CERTIFICATE (1).pdf',
 'MERIT CERTIFICATE (2).pdf',
 'MERIT CERTIFICATE.jpg',
 'MERIT CERTIFICATE.pdf',
 'MERIT CERTIFICATE_11zon.pdf',
 'Promotion Rule 27-11-2025 new.pdf',
 'Remedial Result Winter 23 & Summer 24_sent.csv',
 'RIL-T1.pdf',
 'rustup-init.exe',
 'SE TUTORIAL (11-12).pdf',
 'SE TUTORIAL (8-10).pdf',
 'SE TUTORIAL 5-7.pdf',
 'Sudhanhu_Resume_New.pdf',
 'Sudhanshu Gochar.pdf',
 'sudhanshu.mp4',
 'S_G_Resume_2.pdf',
 'train (2).csv',
 'try_resume (1).pdf',
 'try_resume.pdf',
 'WhatsApp Image 2025-12-17 at 5.24.12 PM.jpeg',
 'WhatsApp Image 2025-12-22 at 10.55.44 PM (1).jpeg',
 'WhatsApp Image 2025-12-22 at 10.55.44 PM.jpeg',
 'WhatsApp Video 2025-12-30 at 3.51.34 PM.mp4',
 'WhatsApp Video 2025-12-30 at 3.51.35 PM.mp4',
 'WhatsApp Video 2025-12-30 at 3.51.36 PM.mp4',
 'WhatsApp Video 2025-12-30 at 3.51.37 PM.mp4',
 'WhatsApp Video 2025-12-30 at 3.51.38 PM.mp4',
 'WhatsApp Video 2025-12-30 at 3.52.43 PM.mp4',
 'wp7481374.jpg',
 'Zoom_cm_fo42anktZ9vvrZo4_mI8yJsaBGOcXuyJliuo-tZsmp8dqup0Kcl0vA@mxlwdWHExHynAOrk_ke39e81d132f8a944_.exe']

In [6]:
import pandas as pd

df = pd.read_csv(r"C:\Users\sudha\Downloads\train (2).csv")

In [7]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df = df[["Survived", "Pclass", "Sex", "Age", "Fare"]]

In [13]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [14]:
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

In [15]:
X = df.drop("Survived", axis=1)
y = df["Survived"]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8044692737430168

In [18]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=4)
dt.fit(X_train, y_train)

y_pred = dt.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7988826815642458

In [19]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    n_estimators=100,
    max_depth=5,
    random_state=42
)

rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8100558659217877

In [20]:
for col, imp in zip(X.columns, rf.feature_importances_):
    print(col, ":", imp)

Pclass : 0.15815995823402257
Sex : 0.500928631407273
Age : 0.14218949700105432
Fare : 0.19872191335765016

In [21]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    "n_estimators": [50, 100],
    "max_depth": [3, 5, 7]
}

grid = GridSearchCV(RandomForestClassifier(), param_grid, cv=5)
grid.fit(X_train, y_train)

print(grid.best_params_)

{'max_depth': 7, 'n_estimators': 100}

In [22]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

R2 Score: 0.2167310167310167

In [23]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8100558659217877

In [24]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print(cm)

[[95 10]
 [24 50]]

In [25]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.90      0.85       105
           1       0.83      0.68      0.75        74

    accuracy                           0.81       179
   macro avg       0.82      0.79      0.80       179
weighted avg       0.81      0.81      0.81       179